# 2024 Olymptic Medelist Dataset

In [9]:
import pandas as pd

In [10]:
data=pd.read_csv("medallists.csv")
data.head()

,medal_date,medal_type,medal_code,name,gender,country_code,country,country_long,nationality_code,nationality,...,team,team_gender,discipline,event,event_type,url_event,birth_date,code_athlete,code_team,is_medallist
0,2024-07-27,Gold Medal,1.0,EVENEPOEL Remco,Male,BEL,Belgium,Belgium,BEL,Belgium,...,NaN,NaN,Cycling Road,Men's Individual Time Trial,ATH,/en/paris-2024/results/cycling-road/men-s-indi...,2000-01-25,1903136,NaN,True
1,2024-07-27,Silver Medal,2.0,GANNA Filippo,Male,ITA,Italy,Italy,ITA,Italy,...,NaN,NaN,Cycling Road,Men's Individual Time Trial,ATH,/en/paris-2024/results/cycling-road/men-s-indi...,1996-07-25,1923520,NaN,True
2,2024-07-27,Bronze Medal,3.0,van AERT Wout,Male,BEL,Belgium,Belgium,BEL,Belgium,...,NaN,NaN,Cycling Road,Men's Individual Time Trial,ATH,/en/paris-2024/results/cycling-road/men-s-indi...,1994-09-15,1903147,NaN,True
3,2024-07-27,Gold Medal,1.0,BROWN Grace,Female,AUS,Australia,Australia,AUS,Australia,...,NaN,NaN,Cycling Road,Women's Individual Time Trial,ATH,/en/paris-2024/results/cycling-road/women-s-in...,1992-07-07,1940173,NaN,True
4,2024-07-27,Silver Medal,2.0,HENDERSON Anna,Female,GBR,Great Britain,Great Britain,GBR,Great Britain,...,NaN,NaN,Cycling Road,Women's Individual Time Trial,ATH,/en/paris-2024/results/cycling-road/women-s-in...,1998-11-14,1912525,NaN,True

## 1. How many unique countries are represented in the dataset?
*Hint: Use the `unique()` or `nunique()` function on the `country` or `country_long` column.*

In [11]:
# Your code here
data.columns

Index(['medal_date', 'medal_type', 'medal_code', 'name', 'gender',
       'country_code', 'country', 'country_long', 'nationality_code',
       'nationality', 'nationality_long', 'team', 'team_gender', 'discipline',
       'event', 'event_type', 'url_event', 'birth_date', 'code_athlete',
       'code_team', 'is_medallist'],
      dtype='object')

In [12]:
data['country'].unique()

array(['Belgium', 'Italy', 'Australia', 'Great Britain', 'United States',
       'Korea', 'Tunisia', 'Hong Kong, China', 'France', 'Hungary',
       'Kazakhstan', 'Japan', 'Spain', 'Mongolia', 'Sweden', 'Germany',
       'Canada', 'Poland', 'Egypt', 'Brazil', 'Republic of Moldova',
       'Uzbekistan', 'Kosovo', 'China', 'India', 'Slovakia',
       'South Africa', 'Ukraine', 'Azerbaijan', 'Croatia', 'Switzerland',
       'Romania', 'Ireland', 'Georgia', 'Tajikistan', 'Slovenia',
       'Mexico', 'Guatemala', 'Argentina', 'Greece', 'Austria',
       'Netherlands', 'New Zealand', 'Ecuador', 'Israel', 'Portugal',
       'Uganda', 'Ethiopia', 'AIN', 'Philippines', 'Norway', 'Grenada',
       'Jamaica', 'Saint Lucia', 'Dominica', 'Chinese Taipei',
       'Lithuania', 'Armenia', 'Algeria', 'Indonesia',
       'Dominican Republic', 'Cabo Verde', 'Cuba', 'DPR Korea', 'Chile',
       'Serbia', 'Colombia', 'Kenya', 'Denmark', 'Thailand', 'Malaysia',
       'Bahrain', 'IR Iran', 'Kyrgyzstan', 'TÃ¼rkiye', 'Morocco', 'Zambia',
       'Cyprus', 'Peru', 'Botswana', 'Pakistan', 'Bulgaria', 'EOR',
       'Jordan', 'Czechia', 'Singapore', 'Qatar', 'Puerto Rico', 'Panama',
       "CÃ´te d'Ivoire", 'Albania', 'Fiji'], dtype=object)

In [13]:
len(data['country'].unique())

92

## 2. Which event had the most medalists?
*Hint: Use `value_counts()` on the `event` column to determine the event with the highest number of medalists.*

In [14]:
# Your code here
data['event'].value_counts().idxmax()

'Men'

## 3. What is the gender distribution of the medalists?
*Hint: Use `value_counts()` on the `gender` column.*

In [15]:
# Your code here
data['gender'].value_counts()

gender
Female    1162
Male      1153
Name: count, dtype: int64


## 4. How many athletes from Belgium won medals?
*Hint: Filter on the `country_code` column with `BEL` and check the number of rows.*

In [16]:
# Your code here
data['country_code']
data_bel=data[data.country_code=="BEL"]
data_bel.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10 entries, 0 to 759
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   medal_date        10 non-null     object
 1   medal_type        10 non-null     object
 2   medal_code        10 non-null     float64
 3   name              10 non-null     object
 4   gender            10 non-null     object
 5   country_code      10 non-null     object
 6   country           10 non-null     object
 7   country_long      10 non-null     object
 8   nationality_code  10 non-null     object
 9   nationality       10 non-null     object
 10  nationality_long  10 non-null     object
 11  team              0 non-null      object
 12  team_gender       0 non-null      object
 13  discipline        10 non-null     object
 14  event             10 non-null     object
 15  event_type        10 non-null     object
 16  url_event         8 non-null      object
 17  birth_date        10 non-null     object
 18  code_athlete      10 non-null     int64
 19  code_team         0 non-null      object
 20  is_medallist      10 non-null     bool
dtypes: bool(1), float64(1), int64(1), object(18)
memory usage: 1.7+ KB

## 5. What is the average age of gold medalists?
*Hint: Filter for `Gold Medal` in the `medal_type` column, and calculate the difference between `medal_date` and `birth_date`.*

In [17]:
# Your code here
data_new=data[(data.medal_type=="Gold Medal")]
pd.to_datetime(data_new["medal_date"], format="mixed")
data_new['medal_date']=pd.to_datetime(data_new["medal_date"], format="mixed")
data_new['birth_date']=pd.to_datetime(data_new["birth_date"], format="mixed")
age_difference=data_new['medal_date'].dt.year-data_new['birth_date'].dt.year
age_difference.mean()

/var/folders/s2/9btr1s3d5qn_bwlr6wycq0780000gn/T/ipykernel_86014/2110577091.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_new['medal_date']=pd.to_datetime(data_new["medal_date"], format="mixed")
/var/folders/s2/9btr1s3d5qn_bwlr6wycq0780000gn/T/ipykernel_86014/2110577091.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_new['birth_date']=pd.to_datetime(data_new["birth_date"], format="mixed")

26.993351063829788

## 6. List the names of all athletes who won a silver medal in a cycling event.
*Hint: Filter by `medal_type` (Silver) and `discipline` (Cycling Road), then display the `name` column.*

In [18]:
# Your code here
data[(data.medal_type=="Silver Medal") & (data.discipline=="Cycling Road")]
filtered_data=data[(data.medal_type=="Silver Medal") & (data.discipline=="Cycling Road")]
filtered_data['name']

1         GANNA Filippo
4        HENDERSON Anna
267    MADOUAS Valentin
336        VOS Marianne
Name: name, dtype: object

## 7. How many events did female athletes participate in?
*Hint: Filter on `gender` (Female) and count the unique values in the `event` column.*

In [19]:
# Your code here
len(data[data.gender=="Female"]['event'].unique())

150

## 8. Which country had the highest number of gold medals?
*Hint: Filter for `Gold Medal` in the `medal_type` column and use `value_counts()` on the `country` column.*

In [20]:
# Your code here
data[data.medal_type=="Gold Medal"]['country'].value_counts().idxmax()

'United States'

## 9. What are the top three most common disciplines for male athletes?
*Hint: Filter by `gender` (Male) and use `value_counts()` on the `discipline` column to get the top three.*

In [21]:
# Your code here
data[data.gender=="Male"]['discipline'].value_counts().head(3)

discipline
Athletics    113
Swimming     107
Rowing        72
Name: count, dtype: int64

## 10. Find the youngest and oldest medalists in the dataset.
*Hint: Calculate the difference between `medal_date` and `birth_date`, then use `min()` and `max()`.*

In [22]:
data_new=data[(data.medal_type=="Gold Medal")]
pd.to_datetime(data_new["medal_date"], format="mixed")
data_new['medal_date']=pd.to_datetime(data_new['medal_date'],format="mixed")
data_new['birth_date']=pd.to_datetime(data_new['birth_date'],format="mixed")
data['age']=data_new['medal_date'].dt.year-data_new['birth_date'].dt.year

/var/folders/s2/9btr1s3d5qn_bwlr6wycq0780000gn/T/ipykernel_86014/407420164.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_new['medal_date']=pd.to_datetime(data_new['medal_date'],format="mixed")
/var/folders/s2/9btr1s3d5qn_bwlr6wycq0780000gn/T/ipykernel_86014/407420164.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_new['birth_date']=pd.to_datetime(data_new['birth_date'],format="mixed")

In [23]:
data.sample()

,medal_date,medal_type,medal_code,name,gender,country_code,country,country_long,nationality_code,nationality,...,team_gender,discipline,event,event_type,url_event,birth_date,code_athlete,code_team,is_medallist,age
1560,2024-08-07,Bronze Medal,3.0,BARKER Elinor,Female,GBR,Great Britain,Great Britain,GBR,Great Britain,...,W,Cycling Track,Women's Team Pursuit,TEAM,/en/paris-2024/results/cycling-track/women-s-t...,1994-09-07,1912507,CTRWPURTEAM4GBR01,True,NaN

In [24]:
data['age']

0       24.0
1        NaN
2        NaN
3       32.0
4        NaN
        ...
2310     NaN
2311     NaN
2312     NaN
2313     NaN
2314     NaN
Name: age, Length: 2315, dtype: float64

In [26]:
data[data['age']==data['age'].min()]

,medal_date,medal_type,medal_code,name,gender,country_code,country,country_long,nationality_code,nationality,...,team_gender,discipline,event,event_type,url_event,birth_date,code_athlete,code_team,is_medallist,age
432,2024-08-06,Gold Medal,1.0,TREW Arisa,Female,AUS,Australia,Australia,AUS,Australia,...,NaN,Skateboarding,Women's Park,ATH,/en/paris-2024/results/skateboarding/women-s-p...,2010-05-12,1946064,NaN,True,14.0

In [28]:
data[data['age']==data['age'].max()]

,medal_date,medal_type,medal_code,name,gender,country_code,country,country_long,nationality_code,nationality,...,team_gender,discipline,event,event_type,url_event,birth_date,code_athlete,code_team,is_medallist,age
1215,2024-08-03,Gold Medal,1.0,WERTH Isabell,Female,GER,Germany,Germany,GER,Germany,...,O,Equestrian,Dressage Team,TEAM,/en/paris-2024/results/equestrian/dressage-tea...,1969-07-21,1914909,EQUODRESTEAMGER01,True,55.0